/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  position: relative;
  color: #5a5a5a;
  background-color: #dae7ea;
}

html,body{
  height: 100%;
}

/* FONTS */
@font-face {
  font-family: 'Kalos';
  src: url("./fonts/Kalos.ttf");
 }

 @font-face {
  font-family: 'Butter';
  src: url("./fonts/SFButtacupLettering.ttf");
 }

 @font-face {
  font-family: "Gnu";
  src: url("./fonts/gnuolane rg.ttf");
 }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-brand {
  font-family: "Kalos";
  font-weight: bold;
  padding-left: 0px;
  font-size: 50px;
  vertical-align: middle;
  letter-spacing: 1.5px;
  word-spacing: 1px;
}

.navbar {
  background-color: #174c6d;
  border-bottom:8px solid #7fc4d1;
  padding-bottom:10px;
  /* remove rounded corners from navbar */
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.navbar-nav {
  font-family: "Kalos";
  padding-right: 100px;
  font-size: 30px;
  color: #ffffff;
  hover
}

.dropdown-menu{
  font-size: 20px;
}

.navbar a{
  color: #ffffff;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: #174c6d;
    color: #f7f7af !important;
}

.icon-bar{
	background-color: #ffffff;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Home Content 
------------------------- */
/* TODO COPIED FROM CAROUSEL */
.banner {
	height: 900px;
	margin-bottom: 60px;
}

.banner-caption {
	z-index = 10;
}

.banner-caption h1 {
	text-shadow: -3px 0 #ffffff, 0 3px #ffffff, 3px 0 #ffffff, 0 -3px #ffffff;
}

.banner-caption h2 {
	text-shadow: -2.5px 0 #ffffff, 0 2.5px #ffffff, 2.5px 0 #ffffff, 0 -2.5px #ffffff;
}

.banner-inner > .item > img{
	top: 0;
	left: 0;
	min-width: 100%;
	height: 900px;
	width: 1920px;
	object-fit: cover;
}

.banner .item {
	height: 900px;
}

.banner-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 900px;
}








#container {
	width: 100%;
	position: relative;
	height: auto;
}

#banner-pic{
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 15%;
	object-fit: cover;
	width: 100%;
}

#banner-info {
	z-index: 100;
	height: auto;
	padding-top: 15%;
}

/* General Page Layout */
#page-info {
	padding-top: 25%;
}




/* Featurettes
------------------------- */
#home-info {
	padding-top: 0%;
}
.featurette{

}

.featurette h2{
  font-family: "Butter";
  font-size: 40px;
  color: #174c6d;
  margin-right: 20px;
  margin-left: 20px;
}

hr{
  border: none;
  height: 4px;
  background-color: #174c6d;
  margin-left: 0;
  margin-top: -1px;
}

.subheader{
  font-size: 35px !important;
  color: #3167bf !important;
}

iframe{
  margin: 0;
}

.col-md-10{
  background-color: #ffffff;
}

#map{
  height: 400px;
  width: 96%;
  margin-right: 20px;
  margin-left: 20px;
}

#map2{
  height: 400px;
  width: 96%;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.featurette-divider {
  height: 3px;
  background-color:  #e7e9ef;
  border: 5px;
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

.mid-divider {
  height: 1px;
  background-color:  #e7e9ef;
  border: 5px;
}

.featurette-heading {
  font-size: 50px !important;
  font-weight: 300;
  line-height: 1;
  padding-top: -10px;
  margin-top: -10px;
}

.align{
  vertical-align: middle;
  margin-top: -20px;
}

#intro{
  text-align: center;
}

#programming {
  padding-top: 70px;
}

#featuredheading{
  margin-top: -50px !important;
}

#volunteerheading{
  margin-top: -30px !important;
}

.homebtn{
  background-color: #31b5bf;
  color: #ffffff;
  font-family: "Kalos";
  font-size: 25px;
}

.top{
  padding-top: 100px;
  background-color: #ffffff;
  padding-bottom: 50px;
}

#preview{
  text-align: center;
  letter-spacing: 1px;
  font-size: 4vw;
  padding-top: 10%;
  margin-bottom: 10%;
  text-shadow: -3px 0 #ffffff, 0 3px #ffffff, 3px 0 #ffffff, 0 -3px #ffffff;
}

#title{
  font-family: "Gnu";
  text-align: center;
  font-size: 12vw;
  line-height: 0;
  font-weight: bold;
  letter-spacing: 6px;
  margin-bottom: 10%;
  text-shadow: -3px 0 #ffffff, 0 3px #ffffff, 3px 0 #ffffff, 0 -3px #ffffff;
}

#title2{
  text-align: center;
  font-size: 5vw;
  margin-top: 10%;
  letter-spacing: 3px;
}

#preview2{
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  text-align: center;
  background-color: #174c6d;
  letter-spacing: 2px;
  border-radius: 5px;
  font-size: 5vw;
}

#preview3{
  font-size: 5vw;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: -2.5px 0 #ffffff, 0 2.5px #ffffff, 2.5px 0 #ffffff, 0 -2.5px #ffffff;
}

.preview4{
  font-family: "Butter";
  font-size: 40px;
  color: #174c6d;
}

.preview4text{
  font-family: "Kalos";
  font-size: 25px;
  color: #174c6d;
  line-height: 1;
}

#banner{
  height: 50px;
  background-color: #174c6d;

}

#loc1{
  padding-top: 8px;
}

#mainstagetable{
  font-family: "Kalos";
  font-size:25px;
  margin-left: 30px;
  width: 55%;
}

#gametournamenttable{
  font-family: "Kalos";
  font-size:25px;
  margin-left: 30px;
  width: 95%;
}

#panelstable{
  font-family: "Kalos";
  font-size:25px;
  margin-left: 30px;
  width: 95%;
}

#aatable{
  font-family: "Kalos";
  font-size:25px;
  margin-left: 20px;
  padding-top: 10px;
  width: 60%;
}

.lead{
  font-family: "Kalos";
  font-size: 25px;
  font-weight: normal;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 1.2;
}

.desc{
  font-family: "Kalos";
  font-size: 25px;
  padding-top: 0;
  margin-right: 20px;
  margin-left: 22px;
  line-height: 0.8;
  padding-bottom: 15px;
}

.desc2{
  font-family: "Kalos";
  font-size: 25px;
  padding-top: 0;
  margin-right: 20px;
  margin-left: 22px;
  line-height: 0.8;
}

.lead2{
  font-family: "Kalos";
  font-size: 28px;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 0.8;
}

.lead3{
  font-family: "Kalos";
  font-size: 35px;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 1;
}

.footer{
  font-family: "Kalos";
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 0.8;
}

#contactend{
  margin-bottom: 172px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 411px) {
  /* From banner */
  #banner-pic {
	  padding-top: 5%;
  }
  #preview {
	  padding-top: 5%;
  } 

  .navbar-brand {
	  padding-left: 75px;
  }

  #home-info {
	  padding-top: 5%;
  }

  #page-info {
	  padding-top: 20%;
  }
}

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-brand {
	  padding-left: 100px;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  /* From banner */
  #preview {
	  padding-top: 7%;
  } 

  #home-info {
	  padding-top: 15%;
  }

  #page-info {
	  padding-top: 20%;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }

  #banner-pic {
	  padding-top: 0;
  }

  #preview {
	  padding-top: 0;
	  font-size: 70px;
  }

  #title {
	  padding-top: 15px;
	  padding-bottom: 15px;
	  font-size: 170px;
  }

  #preview2 {
	  font-size: 42px;
  }

  #preview3 {
	  font-size: 50px;
	  padding-bottom: 0%;
  }

  #home-info {
	  padding-top: 20%;
  }

  #page-info {
	  padding-top: 0%;
  }
}

@media (min-width: 1270px) {
  #preview3 {
	  padding-bottom: 0%;
  }
}

@media (min-width: 1280px) {
  #preview {
	  padding-top: 10%;
  }

  #preview3 {
	  padding-bottom: 15%;
  }
}

#footer {
  font-family: "BasicTitle";
  font-weight: bold;
  font-size: 15px;
}
